<div class="checkboxes">
{{#each-in categories as |category value|}}
  <label>
    {{input
      type='checkbox'
      checked=value
      placeholder=category
      click=(action 'toggleCategory' category)}}
    {{category}}
  </label>
{{/each-in}}
</div>
