<div class="filter-content">
{{#each-in filterCategorys as |name options|}}
  <div class="filter-category">
    <p>{{name}}</p>
    <div class="filter-checkboxes">
    {{#each options as |option|}}
      <label>
        <input type="checkbox" onclick={{action 'toggleFilter' option}} checked={{option.checked}} />
        {{option}}
      </label>
    {{/each}}
    </div>
  </div>
{{/each-in}}
</div>
