<div class="wrapper">
  <div class="head">
    {{#link-to "index"}}
    <h1>Alot of Star Wars Info</h1>
    {{/link-to}}
    {{#link-to "search"}}
      <h2>Search</h2>
    {{/link-to}}
  </div>

  <div class="content">
    {{outlet}}
  </div>

</div>
