<div class="head">
  <h1>Recursive Star Wars Info</h1>
  {{link-to "Home""index"}}
  <form {{action "search" on="submit"}}>
    {{input value=search action="search" placeholder="Search" class="search"}}
  </form>
</div>
<div class="content">
{{outlet}}
</div>
